<template>
    <div>
        <button @click="isFormActive = true">Change Status</button>
        <div v-if="isFormActive">
            <ul>
                <li>
                    <select v-model="formStatus">
                        <option v-for="status in statuses" :value="status.id">{{ status.name }}</option>
                    </select>
                </li>
                <li>
                    <button @click="isFormActive=false">Cancel</button>
                    <button @click="save">Save</button>
                </li>
            </ul>

        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                isFormActive: false,
                formStatus: this.status,
                statuses: [
                    { id: 0, name: 'Created' },
                    { id: 1, name: 'Paid' },
                    { id: -1, name: 'Failed' }
                ]
            }
        },

        props: {
            /**
             * @property {number} orderId
             */
            orderId: {
                type: Number,
                required: true,
            },
            /**
             * @property {number} status
             */
            status: {
                type: Number,
                required: true,
            }
        },

        methods: {
            async save () {
                await window.axios.patch('api/order/change-status', { id: this.orderId, status: this.formStatus });

                this.isFormActive = false;
                this.$emit('onStatusChanged');
            }
        }
    }
</script>
