<template>
    <div>
        <ul>
            <li>
                <label><input type="radio" value="true" v-model="newCustomer">New Customer</label>
                <label><input type="radio" value="false" v-model="newCustomer">Existing Customer</label>
            </li>
        </ul>
        <div v-if="isNewCustomer">
            <ul>
                <li>
                    <label for="name">Name</label>
                    <input type="text" id="name" v-model="name" required>
                </li>
                <li>
                    <label for="email">Email</label>
                    <input type="email" id="email" v-model="email" required>
                </li>
            </ul>
        </div>
        <div v-else>
            <ul>
                <li>
                    <label>Choose</label>
                    <select v-model="customerId">
                        <option v-for="customer in customers" :value="customer.id">
                            {{ customer.email }} - {{ customer.name }}
                        </option>
                    </select>
                </li>
            </ul>
        </div>
        <button @click="save">Next</button>
    </div>
</template>

<script>
export default {
    data () {
        return {
            newCustomer: 'true',
            name: '',
            email: '',
            customerId: 0,
            customers: []
        }
    },

    beforeMount() {
        this.fetchCustomers();
    },

    methods: {
        /**
         * @return {Promise<void>}
         */
        async fetchCustomers () {
            const { data } = await window.axios.get('api/customers/actives');
            this.customers = data;
        },

        /**
         * @return {void}
         */
        save () {
            if (!this.isNewCustomer && parseInt(this.customerId) === 0) {
                alert('Form validation error!');

                return;
            } else if (this.isNewCustomer && (this.name === '' || this.email === '')) {
                alert('Form validation error!');

                return;
            }

            this.$emit('onSave', {
                name: this.name,
                email: this.email,
                customerId: this.isNewCustomer ? 0 : this.customerId
            })
        }
    },

    computed: {
        /**
         * @return {boolean}
         */
        isNewCustomer() {
            return this.newCustomer === 'true';
        }
    }
}
</script>

<style scoped>

</style>
