<template>
    <div>
        <ul>
            <li>
                <label><input type="radio" value="true" v-model="hasSubscription">Repeat</label>
                <label><input type="radio" value="false" v-model="hasSubscription">Without Repeat</label>
            </li>
            <li v-if="isRepeatPackage">
                <label for="iteration">Day Frequency</label>
                <input type="number" id="iteration" v-model="iteration">
            </li>
            <li>
                <label for="total">Total</label>
                <input type="number" id="total" v-model="total">
            </li>
        </ul>
        <button @click="save">Create</button>
    </div>
</template>

<script>
export default {
    data () {
        return {
            hasSubscription: 'true',
            iteration: 30,
            total: 1
        }
    },

    methods: {
        /**
         * @return {void}
         */
        save () {
            if (this.iteration <= 0 || this.total <= 0) {
                alert('validation error!');

                return;
            }

            this.$emit('onSave', {
                hasSubscription: this.isRepeatPackage,
                iteration: this.iteration,
                total: this.total
            });
        }
    },

    computed: {
        /**
         * @return {boolean}
         */
        isRepeatPackage () {
            return this.hasSubscription === 'true';
        }
    }
}
</script>

<style scoped>

</style>
