<template>
    <div>
        <div>
            <label>Filter</label>
            <select v-model="activeFilter">
                <option v-for="filter in filters" :value="filter.id">{{ filter.name }}</option>
            </select>
        </div>
        <table class="customers">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Active Subscriptions</td>
                    <td>Last Paid Order</td>
                    <td>Status</td>
                    <td>#</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="customer in customers">
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.active_subscriptions_count }}</td>
                    <td>{{ customer.last_paid_order.paidDate }}</td>
                    <td>{{ customer.statusLabel }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                customers: [],
                activeFilter: 0,
                filters: [
                    { id: 0, name: 'All' },
                    { id: 1, name: 'Get all customers with more than one paid order' },
                    { id: 2, name: 'Get all customers with an active subscription and with at least one paid order' }
                ]
            };
        },

        beforeMount() {
            this.setCustomers();
        },

        methods: {
            async setCustomers () {
                const { data: { customers } } = await window.axios.get(`api/customers?filter=${this.activeFilter}`);
                this.customers = customers;
            }
        },

        watch: {
            activeFilter () {
                this.setCustomers();
            }
        }
    }
</script>

<style lang="sass" scoped>

</style>
