<template>
    <div>
        <table class="orders">
            <thead>
                <tr>
                    <td>Customer Email</td>
                    <td>Total</td>
                    <td>Has Subscription</td>
                    <td>Status</td>
                    <td>Paid Date</td>
                    <td>#</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="order in orders">
                    <td>{{ order.customer.email }}</td>
                    <td>{{ order.total }}</td>
                    <td>{{ order.subscriptionId ? 'Yes' : 'No' }}</td>
                    <td>{{ order.statusLabel }}</td>
                    <td>{{ order.paidDate }}</td>
                    <td>
                        <change-status
                            @onStatusChanged="setOrders"
                            :order-id="order.id"
                            :status="order.status">
                        </change-status></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import ChangeStatus from "../Components/Order/ChangeStatus";

export default {
    components: { ChangeStatus },

    data() {
        return { orders: [] };
    },

    beforeMount() {
        this.setOrders();
    },

    methods: {
        /**
         * @return {Promise<void>}
         */
        async setOrders() {
            const { data: { orders } } = await window.axios.get('api/order');
            this.orders = orders;
        }
    }
}
</script>

<style lang="sass" scoped>

</style>
