<template>
    <div>
        <h1>Create Order</h1>

        <h3>Customer <b v-show="!isCustomerStepActive">(Completed)</b></h3>
        <customer v-if="isCustomerStepActive" @onSave="saveCustomer"></customer>

        <h3 v-show="isPackageStepActive || isPackageStepCompleted">
            Package <b v-show="isPackageStepCompleted">(Completed)</b>
        </h3>
        <package v-if="isPackageStepActive" @onSave="savePackage"></package>
    </div>
</template>

<script>
    import Customer from '../Components/Order/Customer';
    import Package from '../Components/Order/Package';

    export default {
        components: { Customer, Package },

        data () {
            return {
                activeStep: 0,
                customer: {},
                order: {}
            }
        },

        methods: {
            /**
             * @param {object} customer
             * @return {void}
             */
            saveCustomer (customer) {
                this.customer = customer;
                this.activeStep++;
            },

            /**
             * @param {object} order
             * @return {void}
             */
            savePackage (order) {
                this.order = order;
                this.activeStep++;
                this.createOrder();
            },

            async createOrder () {
                try {
                    const { data: { status } } = await window.axios.post('api/order', {...this.customer, ...this.order});

                    if (!status) {
                        alert('Cannot be saved!');

                        return;
                    }

                    alert('Order is created');
                    this.$router.push({ name: 'Home' });
                } catch (err) {
                    alert("Validation Error!: ");
                }
            }
        },

        computed: {
            /**
             * @return {boolean}
             */
            isCustomerStepActive () {
                return this.activeStep === 0;
            },

            /**
             * @return {boolean}
             */
            isPackageStepActive () {
                return this.activeStep === 1;
            },

            /**
             * @return {boolean}
             */
            isPackageStepCompleted () {
                return this.activeStep > 1;
            }
        }
    }
</script>

<style scoped>

</style>
