<template>
    <div>
        <table class="subscriptions">
            <thead>
                <tr>
                    <td>Customer Email</td>
                    <td>Start Date</td>
                    <td>Next Order Date</td>
                    <td>Day Iteration</td>
                    <td>Status</td>
                    <td>#</td>
                    <td>#</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="subscription in subscriptions">
                    <td>{{ subscription.customer.email }}</td>
                    <td>{{ subscription.startDate }}</td>
                    <td>{{ subscription.nextOrderDate }}</td>
                    <td>{{ subscription.dayIteration }}</td>
                    <td>{{ subscription.statusLabel }}</td>
                    <td>
                        <create-order
                            :subscription-id="subscription.id"
                            @onOrderCreated="setSubscriptions">
                        </create-order>
                    </td>
                    <td>
                        <iteration-frequency
                            @onFrequencyChanged="setSubscriptions"
                            :subscription-id="subscription.id"
                            :iteration="subscription.dayIteration">
                        </iteration-frequency>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import IterationFrequency from "../Components/Subscription/IterationFrequency";
import CreateOrder from "../Components/Subscription/CreateOrder";

export default {
    components: {
        CreateOrder,
        IterationFrequency
    },

    data() {
        return { subscriptions: [] };
    },

    beforeMount() {
        this.setSubscriptions();
    },

    methods: {
        /**
         * @return {Promise<void>}
         */
        async setSubscriptions() {
            const { data: { subscriptions } } = await window.axios.get('api/subscriptions');
            this.subscriptions = subscriptions;
        }
    }
}
</script>

<style lang="sass" scoped>

</style>
