<template>
    <div>
        <button @click="createNextOrder">Create Next Order</button>
    </div>
</template>

<script>
    export default {
        props: {
            /**
             * @property {number} subscriptionId
             */
            subscriptionId: {
                type: Number,
                required: true,
            }
        },

        methods: {
            async createNextOrder () {
                await window.axios.post('api/order/create-next-order', { subscriptionId: this.subscriptionId });

                this.$emit('onOrderCreated');
                alert('Order is created, Please check order list page');
            }
        }
    }
</script>
