<template>
    <div>
        <button @click="isFormActive = true">Change Iteration Frequency</button>
        <div v-if="isFormActive">
            <ul>
                <li>
                    <label for="iteration">Day Frequency</label>
                    <input type="number" id="iteration" v-model="formIteration">
                </li>
                <li>
                    <button @click="isFormActive=false">Cancel</button>
                    <button @click="save">Save</button>
                </li>
            </ul>

        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                isFormActive: false,
                formIteration: this.iteration
            }
        },

        props: {
            /**
             * @property {number} iteration
             */
            iteration: {
                type: Number,
                required: true,
            },
            /**
             * @property {number} subscriptionId
             */
            subscriptionId: {
                type: Number,
                required: true,
            }
        },

        methods: {
            async save () {
                await window.axios.patch('api/subscriptions/set-frequency', { id: this.subscriptionId, iteration: this.formIteration });

                this.isFormActive = false;
                this.$emit('onFrequencyChanged');
            }
        }
    }
</script>
