<template>
    <div>
        <ul>
            <li><router-link to="/customers">List Customers</router-link></li>
            <li><router-link to="/create-order">Create An Order</router-link></li>
            <li><router-link to="/orders">Order List</router-link></li>
            <li><router-link to="/subscriptions">List Subscriptions</router-link></li>
        </ul>
    </div>
</template>

<script>
    export default {

    }
</script>
